*{
    margin: 0px;
    padding: 0px;
}

/* <!--------------------- End of Head------------------> */

.body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(243,245,247);
}

/* .nav-bar{
    width: 100%;
    height: 36px;
    background-color: rgba(1,35,63,1);
    position:absolute;
}

.logo{
    height: 36px;
    float: right;
}

.nav-list{
    text-align:center;
    font-size: 23px;
}

.nav-list-item{
    display: inline-block;
    margin: 0px 90px 0px 90px;
    width: 150px;
    height: 32px;
    color: WHITE;
    text-align: center;
    font-family: 'Mada', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.nav-list-item:hover{
    display: inline-block;
    color: rgb(161,219,107);
} */

/* <!--------------------- End of Nav -------------------> */

.ticket-header{
    width: 100%;
    height: 350px;
    background-color: rgb(243,245,247);
    margin-top: 0px;
    background-image: url(../img/exhibit-banner.png);
    background-position: bottom;
}

h1{
    position: relative;
    top: 60px;
    text-align: center;
    font-family: 'Mada', sans-serif;
    font-weight: 400;
    font-size: 75pt;
    letter-spacing: 3px;
    color: white;
}

.contact-container{
    width: 100%;
    height: 700px;
    background-color: rgb(243,245,247);
    text-align: center;
}

.contact-map, .contact-form{

    position: relative;
    display: block;
    width: 410px;
    top: 125px;
    border: solid 3px rgb(30,78,131);
}

.contact-map{
    top: -655px;
    left: 487px;
    margin-left: 25px;
}

.contact-form{
    left: 50px;
    top: 5px;
    width: 450px;

}

.cuttlefish{
    background-image: url(../img/cuttlefish.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 374px;
    width: 467px;
    top: -665px;
    left: 382px;
}

.hotels,.dining{
    height: 320px;
    width: 400px;
    border: solid 3px rgb(30,78,131);
    text-align: center;
    color: rgb(243,245,247);
}


.hotels{
    background-image: url(../img/Hotel1.jpg);
    display: inline-block;
    position: relative;
    top: -1012px;
    left: 371px;
}

.hotels:hover{
    background-image: url(../img/Hotel2.jpg);
    background-blend-mode:soft-light;
    background-color: rgba(30,78,131.1);
    transition: background-image 0.5s ease;
    color: rgb(161,219,107);
}

.dining{
    background-image: url(../img/dining1.jpg);
    display: inline-block;
    position: relative;
    top: -677px;
    left: -39px;
}

.dining:hover{
    background-image: url(../img/dining2.jpg);
    background-blend-mode:soft-light;
    background-color: rgba(30,78,131.1);
    transition: background-image 0.5s ease;
    color: rgb(161,219,107);
}

}
.goto{
    top:-2000px;
}

/* <!--------------------- End of Body -------------------> */

.footer{
    height: 36px;
    background-color: rgba(1,35,63,1);
    color: #f3f5f7;
    clear: both;
    text-align: center;
    margin-top: 0px;
    padding: 0px;

}

.fab{
    margin-right: 15px;
    font-size: 1em;
    color: rgb(161,219,107);
}

.input, .social, .copy{
    display: inline-block;
    height:36px;
    text-align: center;
    margin:5px 150px 5px 200px;
}
/* <!---------------------- End of Footer -----------------> */