*{
    margin:0px;
    padding: 0px;
}

/* <!--------------------- End of Head------------------> */

.body{
    margin: 0px;
}

.h1{
    font-family: 'Mada', sans-serif;
}

/* <!--------------------- End of BODY------------------> */

.body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.nav-bar{
    width: 100%;
    height: 36px;
    background-color: rgba(1,35,63,1);
    position:absolute;
}

.logo{
    height: 36px;
    float: right;
}

.nav-list{
    text-align:center;
    font-size: 23px;
}

.nav-list-item{
    display: inline-block;
    margin: 0px 90px 0px 90px;
    width: 150px;
    height: 32px;
    color: WHITE;
    text-align: center;
    font-family: 'Mada', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.nav-list-item:hover{
    display: inline-block;
    color: rgb(161,219,107);
}

/* <!--------------------- End of Nav -------------------> */

.carousel{
height: 600px;
background-color: rosybrown;

}

/* <!---------------------- End of Main -----------------> */

.info-section{
height: 550px;
width: 100%;
background-color: sandybrown;
margin: 50px,0px,25px,0px;
position: relative;
text-align: center;
white-space: nowrap;
}

.info-box{
    height:500px;
    width: 400px;
    background-color: firebrick;
    margin: 25px 0px 10px 0px;
    display:inline-block;
}

#hours{
    width: 250px;
    margin-right: 0px;
}

#news{
width: 600px;
margin-left: 5px;
margin-right: 5px;
}

/* #address{

} */
/* <!---------------------- End of Section1 --------------> */

/* .weather-box{

} */
/* <!---------------------- End of Section2 --------------> */
.video-box{
    background-color: black;
    padding-top: 25px;
    position: relative;
    
}

.video-feed{
    height: 700px;
    width: 1200px;
    margin: auto;
    background-color: black;
}

.crowd-overlay{
    background-image: url(../img/VideoCrowdOverlay.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1200px;
    height: 248px;
    position: absolute;
    bottom: -1px;
    right: 352px;
}

/* <!---------------------- End of Section3 -----------------> */

.footer{
    background-color: rgb(32,42,66);
    height: 50px;
    color: rgb(243,245,247);
    clear: both;

}

.fab{
    margin-right: 15px;
    font-size: 2em;
    color: rgb(161,219,107);
}

.input, .social, .copy{
    display: inline-block;
    width: 33%;
    text-align: center;
    margin-top: 11px;
}